.modal{
    border-radius: 15px;
}

.modalLogo{
    width: 18%;
    position: absolute;
    right: 50px;
}
.modalTitle{
    color: #C4C4C4;
    font-size: 35px;
    font-weight: 400;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
    width: 100%;
    background-color: #C4C4C4;
    background:url('/background_form_sign_in.png');
    background-size: cover;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
}
.inputContainer input{
    width: 58%;
    font-size: 20px;
    position: absolute;
    right: 50px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #3b4b3c;

}
.inputContainer input:focus{
    outline: none;
    box-shadow: 0px 8px 6px -6px  #556d57;
}
.inputContainerInputs{
    margin-bottom: 50px;
}




.buttonForm{
    color: #334134;
    font-size: 18px;
    font-weight: 500;
    background:url('/button.png');
    background-size: cover;
    border: none;
    padding: 10px 80px 10px 80px ;
    margin-right: 15px;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 5px #334134;
}

.buttonForm:hover{
    box-shadow: 0px 0px 15px #334134;
}
.inputContainerRemember{
   
    color: #334134;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 35px;
}